In [41]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1, 2, 3, 4])

In [6]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
d = {'Moscow': 1000, 'London': 300, 'New York': 150, 'Barcelona': None}

In [11]:
cities = pd.Series(d)
cities

Moscow       1000.0
London        300.0
New York      150.0
Barcelona       NaN
dtype: float64

In [12]:
cities['Moscow']

1000.0

In [13]:
cities[['Moscow', 'New York']]

Moscow      1000.0
New York     150.0
dtype: float64

In [14]:
cities < 1000

Moscow       False
London        True
New York      True
Barcelona    False
dtype: bool

In [15]:
cities[cities < 1000]

London      300.0
New York    150.0
dtype: float64

In [16]:
cities['Moscow'] = 1250
cities

Moscow       1250.0
London        300.0
New York      150.0
Barcelona       NaN
dtype: float64

In [17]:
cities[cities < 1000] = 250
cities

Moscow       1250.0
London        250.0
New York      250.0
Barcelona       NaN
dtype: float64

In [21]:
cities*2

Moscow       2500.0
London        500.0
New York      500.0
Barcelona       NaN
dtype: float64

In [23]:
cities[cities.isnull()]

Barcelona   NaN
dtype: float64

In [25]:
cities[cities.notnull()]

Moscow      1250.0
London       250.0
New York     250.0
dtype: float64

In [50]:
df = pd.read_csv('citibike.csv')

In [51]:
df.head()

,Unnamed: 0,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1477479,1477479,364,2020-08-21 11:38:58.9800,2020-08-21 11:45:03.3120,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,247,Perry St & Bleecker St,40.735354,-74.004831,40604,Subscriber,1967,1
1,507762,507762,810,2020-08-08 11:18:09.5230,2020-08-08 11:31:39.8530,423,W 54 St & 9 Ave,40.765849,-73.986905,3641,Broadway & W 25 St,40.742869,-73.989186,44864,Subscriber,1973,2
2,163825,163825,777,2020-08-03 07:30:34.7530,2020-08-03 07:43:32.6410,426,West St & Chambers St,40.717548,-74.013221,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,45074,Subscriber,1985,1
3,1553295,1553295,1780,2020-08-22 09:47:37.5210,2020-08-22 10:17:18.0020,3582,Lincoln Pl & Classon Ave,40.672168,-73.960900,473,Rivington St & Chrystie St,40.721101,-73.991925,42629,Subscriber,1988,2
4,14003,14003,1618,2020-08-01 10:19:34.6720,2020-08-01 10:46:32.7400,247,Perry St & Bleecker St,40.735354,-74.004831,228,E 48 St & 3 Ave,40.754601,-73.971879,41958,Subscriber,1988,1

In [52]:
df.tail()

,Unnamed: 0,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
232946,882047,882047,2907,2020-08-13 08:04:59.6560,2020-08-13 08:53:27.2880,3336,E 97 St & Madison Ave,40.787801,-73.953559,3059,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,37701,Customer,1969,0
232947,1593642,1593642,272,2020-08-22 16:16:32.6110,2020-08-22 16:21:04.8180,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,453,W 22 St & 8 Ave,40.744751,-73.999154,30497,Subscriber,1961,2
232948,40322,40322,649,2020-08-01 14:50:04.7560,2020-08-01 15:00:54.3670,474,5 Ave & E 29 St,40.745168,-73.986831,3260,Mercer St & Bleecker St,40.727064,-73.996621,30800,Subscriber,1992,2
232949,1696467,1696467,249,2020-08-23 19:07:24.4260,2020-08-23 19:11:33.5750,3337,Dwight St & Van Dyke St,40.673636,-74.011956,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,44168,Subscriber,1980,2
232950,1648457,1648457,580,2020-08-23 11:59:30.1880,2020-08-23 12:09:10.6010,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3048,Putnam Ave & Nostrand Ave,40.684020,-73.949770,41485,Subscriber,1988,2

In [53]:
df.shape

(232951, 17)

In [54]:
df.dtypes

Unnamed: 0                   int64
Unnamed: 0.1                 int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [55]:
df.iloc[-1]

Unnamed: 0                                        1648457
Unnamed: 0.1                                      1648457
tripduration                                          580
starttime                        2020-08-23 11:59:30.1880
stoptime                         2020-08-23 12:09:10.6010
start station id                                      274
start station name         Lafayette Ave & Fort Greene Pl
start station latitude                            40.6869
start station longitude                          -73.9767
end station id                                       3048
end station name                Putnam Ave & Nostrand Ave
end station latitude                               40.684
end station longitude                            -73.9498
bikeid                                              41485
usertype                                       Subscriber
birth year                                           1988
gender                                                  2
Name: 232950, dtype: object

In [56]:
df.loc[1, ['tripduration']]

tripduration    810
Name: 1, dtype: object

In [57]:
df.loc[0:6, 0:4]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [58]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.329510e+05,2.329510e+05,2.329510e+05,232951.000000,232951.000000,232951.000000,232951.000000,232951.000000,232951.000000,232951.000000,232951.000000,232951.000000
mean,1.166025e+06,1.166025e+06,1.412571e+03,2077.382415,40.740375,-73.976386,2071.890535,40.739966,-73.976492,35014.716769,1981.948839,1.164927
std,6.731840e+05,6.731840e+05,1.565785e+04,1545.642456,0.035814,0.023801,1546.323727,0.035711,0.023889,9111.083271,12.206473,0.634121
min,2.700000e+01,2.700000e+01,6.100000e+01,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.046964,14529.000000,1885.000000,0.000000
25%,5.838250e+05,5.838250e+05,4.720000e+02,426.000000,40.716021,-73.993929,426.000000,40.715816,-73.994004,28700.000000,1969.000000,1.000000
50%,1.165049e+06,1.165049e+06,8.630000e+02,3096.000000,40.739126,-73.980930,3093.000000,40.738177,-73.981281,37736.000000,1985.000000,1.000000
75%,1.749816e+06,1.749816e+06,1.507000e+03,3507.000000,40.763707,-73.959089,3504.000000,40.763605,-73.959010,42735.000000,1992.000000,2.000000
max,2.329489e+06,2.329489e+06,2.404449e+06,4124.000000,40.852252,-73.897950,4124.000000,40.852252,-73.897950,46840.000000,2004.000000,2.000000

In [59]:
df.describe(include = [np.object])

,starttime,stoptime,start station name,end station name,usertype
count,232951,232951,232951,232951,232951
unique,232929,232924,1038,1046,2
top,2020-08-17 19:50:04.2610,2020-08-01 15:07:32.6070,12 Ave & W 40 St,West St & Chambers St,Subscriber
freq,2,2,1420,1406,167370

In [60]:
df['usertype'].value_counts()

Subscriber    167370
Customer       65581
Name: usertype, dtype: int64

In [47]:
df1 = df.sample(frac=0.1)

In [48]:
df1.to_csv('citibike.csv')

In [49]:
df1.shape

(232951, 16)

In [61]:
df = pd.read_csv('citibike.csv')

In [64]:
df.groupby(['usertype']).groups

{'Customer': [5, 12, 15, 16, 19, 24, 25, 40, 49, 50, 53, 61, 62, 65, 70, 72, 80, 81, 86, 95, 96, 99, 102, 103, 105, 107, 111, 120, 127, 130, 133, 138, 146, 154, 157, 164, 167, 168, 169, 172, 174, 176, 179, 180, 181, 182, 183, 184, 187, 189, 193, 213, 214, 217, 218, 219, 225, 230, 237, 240, 250, 254, 258, 263, 266, 269, 273, 275, 279, 280, 287, 292, 295, 300, 302, 306, 310, 311, 313, 316, 317, 318, 325, 327, 330, 331, 332, 335, 336, 337, 338, 339, 343, 346, 348, 354, 355, 358, 363, 371, ...], 'Subscriber': [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 13, 14, 17, 18, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 51, 52, 54, 55, 56, 57, 58, 59, 60, 63, 64, 66, 67, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 97, 98, 100, 101, 104, 106, 108, 109, 110, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 123, 124, 125, 126, 128, ...]}

In [66]:
df.groupby(['usertype']).first()

,Unnamed: 0,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
usertype,,,,,,,,,,,,,,,,
Customer,1582447,1582447,1057,2020-08-22 14:40:31.1300,2020-08-22 14:58:08.6850,250,Lafayette St & Jersey St,40.724561,-73.995653,466,W 25 St & 6 Ave,40.743954,-73.991449,26450,1969,0
Subscriber,1477479,1477479,364,2020-08-21 11:38:58.9800,2020-08-21 11:45:03.3120,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,247,Perry St & Bleecker St,40.735354,-74.004831,40604,1967,1

In [69]:
df.groupby(['usertype'])[['tripduration']].mean()

            tripduration
usertype
Customer     2261.705982
Subscriber   1079.851724

In [70]:
df.groupby(['usertype'])['tripduration'].mean()

usertype
Customer      2261.705982
Subscriber    1079.851724
Name: tripduration, dtype: float64

In [72]:
df.groupby(['usertype', 'start station name'])[['tripduration']].mean()

                                         tripduration
usertype   start station name
Customer   1 Ave & E 110 St               2431.791045
           1 Ave & E 16 St                1148.244444
           1 Ave & E 18 St                1210.811594
           1 Ave & E 30 St                1117.661972
           1 Ave & E 44 St                1427.433735
...                                               ...
Subscriber Wyckoff Av & Jefferson St       872.272727
           Wyckoff Av & Stanhope St        990.360000
           Wyckoff St & Nevins St         1045.712644
           Wythe Ave & Metropolitan Ave   1082.858736
           Yankee Ferry Terminal          1900.781513

[2075 rows x 1 columns]

In [77]:
df.groupby(['usertype']).aggregate({'tripduration': [min, max], 'start station name': 'count'  })

           tripduration          start station name
                    min      max              count
usertype
Customer             61  2404449              65581
Subscriber           61  1865063             167370

In [79]:
listings = pd.read_csv('listings.csv')
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [80]:
calendar = pd.read_csv('calendar.csv')
calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [82]:
reviews = pd.read_csv('reviews.csv')
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [85]:
pd.merge(listings, reviews, left_on = ['id'], right_on = ['listing_id'], indicator=True)

,id_x,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,listing_id,id_y,date,reviewer_id,reviewer_name,comments,_merge
0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.30,3075044,13631717,2014-06-01,9645972,Dmitrii,Andrea is a great host. Neighborhood is wonder...,both
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.30,3075044,13866662,2014-06-06,12020681,Paola,We had a great time at Andrea's place. He is v...,both
2,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.30,3075044,14990373,2014-06-30,8165047,Jaydee,Adrea was very welcoming and flexible to our n...,both
3,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.30,3075044,19807601,2014-09-18,21319433,Anthony,Andrea made us feel welcome because he made th...,both
4,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.30,3075044,20322887,2014-09-27,21706950,Xinny,Me and my friend were so happy about Andrea's ...,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68270,8373729,https://www.airbnb.com/rooms/8373729,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,f,8,0.34,8373729,56653411,2015-12-15,2026323,Kurosh,Easy in and out. Last second request and all ...,both
68271,8373729,https://www.airbnb.com/rooms/8373729,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,f,8,0.34,8373729,56988524,2015-12-20,22169560,Laura,Joe runs his airbnb rooms a bit like a motel -...,both
68272,8373729,https://www.airbnb.com/rooms/8373729,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,f,8,0.34,8373729,97439523,2016-08-27,90807364,Hans,"As advertized, the room is big, nice and cozy....",both
68273,14603878,https://www.airbnb.com/rooms/14603878,20160906204935,2016-09-07,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,"My place is close to Taco Loco Mexican Grill, ...",none,NaN,...,f,1,2.00,14603878,97541584,2016-08-27,40987363,Mohsen,Medi is an attentive guy with a positive attit...,both
68274,14603878,https://www.airbnb.com/rooms/14603878,20160906204935,2016-09-07,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,"My place is close to Taco Loco Mexican Grill, ...",none,NaN,...,f,1,2.00,14603878,99363053,2016-09-04,2403426,Dina,Medi was very welcoming and easy to communicat...,both

In [86]:
calendar.set_index('listing_id', inplace=True)

In [87]:
reviews.set_index('listing_id', inplace=True)

In [88]:
calendar.join(reviews, lsuffix='listing_id', rsuffix='listing_id')

,datelisting_id,available,price,id,datelisting_id,reviewer_id,reviewer_name,comments
listing_id,,,,,,,,
3353,2017-09-05,t,$36.00,1749.0,2009-04-23,12970.0,Clint,Very friendly and helpful. Convenient location.
3353,2017-09-05,t,$36.00,609932.0,2011-10-08,506247.0,Eugene Yijin,The location is great as it's right next to th...
3353,2017-09-05,t,$36.00,633836.0,2011-10-16,1027592.0,Leo,"Giueseppe was cordial, friendly, nice ... and ..."
3353,2017-09-05,t,$36.00,659093.0,2011-10-24,1196424.0,Cynthia,"Good host, as well as his roommates (special t..."
3353,2017-09-05,t,$36.00,758999.0,2011-12-02,1282723.0,Rick,The apartment is right in the middle of everyt...
...,...,...,...,...,...,...,...,...
14933461,2016-09-10,f,NaN,NaN,NaN,NaN,NaN,NaN
14933461,2016-09-09,f,NaN,NaN,NaN,NaN,NaN,NaN
14933461,2016-09-08,f,NaN,NaN,NaN,NaN,NaN,NaN
14933461,2016-09-07,f,NaN,NaN,NaN,NaN,NaN,NaN
14933461,2016-09-06,f,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df = pd.read_csv('citibike.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1477479,1477479,364,2020-08-21 11:38:58.9800,2020-08-21 11:45:03.3120,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,247,Perry St & Bleecker St,40.735354,-74.004831,40604,Subscriber,1967,1
1,507762,507762,810,2020-08-08 11:18:09.5230,2020-08-08 11:31:39.8530,423,W 54 St & 9 Ave,40.765849,-73.986905,3641,Broadway & W 25 St,40.742869,-73.989186,44864,Subscriber,1973,2
2,163825,163825,777,2020-08-03 07:30:34.7530,2020-08-03 07:43:32.6410,426,West St & Chambers St,40.717548,-74.013221,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,45074,Subscriber,1985,1
3,1553295,1553295,1780,2020-08-22 09:47:37.5210,2020-08-22 10:17:18.0020,3582,Lincoln Pl & Classon Ave,40.672168,-73.960900,473,Rivington St & Chrystie St,40.721101,-73.991925,42629,Subscriber,1988,2
4,14003,14003,1618,2020-08-01 10:19:34.6720,2020-08-01 10:46:32.7400,247,Perry St & Bleecker St,40.735354,-74.004831,228,E 48 St & 3 Ave,40.754601,-73.971879,41958,Subscriber,1988,1

In [90]:
usertype = {'Cusomer':1, 'Subscriber' :2}
df['usertype'].map(usertype).head()

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: usertype, dtype: float64

In [91]:
df.apply(min)

Unnamed: 0                                       27
Unnamed: 0.1                                     27
tripduration                                     61
starttime                  2020-08-01 00:00:47.6890
stoptime                   2020-08-01 00:05:06.4510
start station id                                 72
start station name                 1 Ave & E 110 St
start station latitude                      40.6554
start station longitude                    -74.0254
end station id                                   72
end station name                   1 Ave & E 110 St
end station latitude                        40.6554
end station longitude                       -74.047
bikeid                                        14529
usertype                                   Customer
birth year                                     1885
gender                                            0
dtype: object

In [92]:
df['tripduration'].apply(lambda x : x/60).head()

0     6.066667
1    13.500000
2    12.950000
3    29.666667
4    26.966667
Name: tripduration, dtype: float64

In [93]:
df.apply(lambda x: x['tripduration']/60, axis =1).head()

0     6.066667
1    13.500000
2    12.950000
3    29.666667
4    26.966667
dtype: float64