In [5]:
""" Для выполнения данного теста нужно скачать датасет 201809-citibike-tripdata.csv велобайка за сентябрь 2018. В датасете встречаются следующие столбцы:
● tripduration - время поездки в секундах

● starttime - время старта поездки

● stoptime - время окончания поездки

● start station name - название стартовой станции

● end station name - название конечной станции

● start station id/ end station id - идентификатор станций

● station latitiude/longitude - широта/долгота станций

● bikeid - идентификатор байка

● usertype (Customer = 24-hour pass или 3-day pass; Subscriber = годовая подписка) - тип пользователя

● gender (0 - неизвестно; 1 - мужской; 2 - женский) - пол пользователя

● birth year - год рождения пользователя"""

' Для выполнения данного теста нужно скачать датасет 201809-citibike-tripdata.csv велобайка за сентябрь 2018. В датасете встречаются следующие столбцы:\n● tripduration - время поездки в секундах\n\n● starttime - время старта поездки\n\n● stoptime - время окончания поездки\n\n● start station name - название стартовой станции\n\n● end station name - название конечной станции\n\n● start station id/ end station id - идентификатор станций\n\n● station latitiude/longitude - широта/долгота станций\n\n● bikeid - идентификатор байка\n\n● usertype (Customer = 24-hour pass или 3-day pass; Subscriber = годовая подписка) - тип пользователя\n\n● gender (0 - неизвестно; 1 - мужской; 2 - женский) - пол пользователя\n\n● birth year - год рождения пользователя'

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('201809-citibike-tripdata.csv')

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [6]:
df.shape

(1877884, 15)

In [8]:
df['tripduration'].apply(lambda x: x/60).mean()

16.125248648656324

In [14]:
df[df['start station id'] == df['end station id']].count()

tripduration               41364
starttime                  41364
stoptime                   41364
start station id           41364
start station name         41364
start station latitude     41364
start station longitude    41364
end station id             41364
end station name           41364
end station latitude       41364
end station longitude      41364
bikeid                     41364
usertype                   41364
birth year                 41364
gender                     41364
dtype: int64

In [39]:
df.groupby('bikeid')['bikeid'].count().sort_values(ascending=False)

bikeid
33875    559
33772    549
34357    549
33868    533
33878    532
        ...
34431      1
24763      1
29726      1
19420      1
34904      1
Name: bikeid, Length: 10892, dtype: int64

In [41]:
df.groupby('bikeid')['tripduration'].mean().sort_values(ascending=False)

bikeid
17548    488022.400000
28520    417717.000000
17431    394605.833333
19083    335620.142857
18041    103932.100000
             ...
22368       224.111111
34896       217.200000
14761       182.666667
25612        72.000000
32379        64.000000
Name: tripduration, Length: 10892, dtype: float64

In [43]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06
mean,9.675149e+02,1.641635e+03,4.073710e+01,-7.398237e+01,1.634439e+03,4.073674e+01,-7.398257e+01,2.652316e+04,1.979745e+03,1.154400e+00
std,7.893692e+03,1.454014e+03,3.115605e-02,1.971399e-02,1.453672e+03,3.097150e-02,1.977184e-02,6.363019e+03,1.188049e+01,5.615422e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.750000e+02,3.820000e+02,4.071740e+01,-7.399596e+01,3.820000e+02,4.071723e+01,-7.399601e+01,2.010700e+04,1.969000e+03,1.000000e+00
50%,6.400000e+02,5.140000e+02,4.073705e+01,-7.398565e+01,5.130000e+02,4.073650e+01,-7.398602e+01,2.809200e+04,1.982000e+03,1.000000e+00
75%,1.129000e+03,3.263000e+03,4.075892e+01,-7.397137e+01,3.263000e+03,4.075757e+01,-7.397179e+01,3.218900e+04,1.989000e+03,1.000000e+00
max,2.431651e+06,3.705000e+03,4.086900e+01,-7.387800e+01,3.705000e+03,4.086900e+01,-7.387800e+01,3.490700e+04,2.002000e+03,2.000000e+00

In [47]:
df[df['start station id'].isnull()].count()

tripduration               716
starttime                  716
stoptime                   716
start station id             0
start station name           0
start station latitude     716
start station longitude    716
end station id               0
end station name             0
end station latitude       716
end station longitude      716
bikeid                     716
usertype                   716
birth year                 716
gender                     716
dtype: int64

In [52]:
df.groupby('usertype')['tripduration'].mean().apply(lambda x: x/60)

usertype
Customer      33.415379
Subscriber    13.332348
Name: tripduration, dtype: float64

In [57]:
from geopy import distance

In [59]:
round(df[df['start station id'] != df['end station id']].apply(lambda df: distance.distance(
              (df['start station latitude'],df['start station longitude']),
              (df['end station latitude'],df['end station longitude'])
              ).km,
              axis=1).mean(),2)

1.85

In [60]:
from datetime import datetime, time

time_from = time(18, 00)
time_till = time(20, 00)

df['starttime_time'] = df.apply(lambda x: 
          datetime.strptime(x['starttime'],'%Y-%m-%d %H:%M:%S.%f').time()
          ,axis=1)

df_start_station = df[(df['starttime_time']>=time_from) & (df['starttime_time']<=time_till)]

In [64]:
df_start_station.groupby(['start station id'])['start station id'].agg(['count']).sort_values(by=['count'], ascending=False).head()

                  count
start station id
519.0              2823
402.0              2368
426.0              2217
459.0              2103
477.0              1994

In [68]:
from datetime import datetime, time

time_from = time(6, 00)
time_till = time(10, 00)

df['endtime_time'] = df.apply(lambda x: 
          datetime.strptime(x['starttime'],'%Y-%m-%d %H:%M:%S.%f').time()
          ,axis=1)

df_end_station = df[(df['endtime_time']>=time_from) & (df['endtime_time']<=time_till)]
#values = [369, 3106, 3116, 3140]
#df_end_station[df_end_station['end station id'].isin(values)]['end station id'].unique()

In [69]:
df_end_station

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime_time,endtime_time
2214,355,2018-09-01 06:00:29.5550,2018-09-01 06:06:25.4180,478.0,11 Ave & W 41 St,40.760301,-73.998842,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,25619,Subscriber,1971,1,06:00:29.555000,06:00:29.555000
2215,1463,2018-09-01 06:00:42.3500,2018-09-01 06:25:05.8200,481.0,S 3 St & Bedford Ave,40.712605,-73.962644,168.0,W 18 St & 6 Ave,40.739713,-73.994564,34029,Subscriber,1993,1,06:00:42.350000,06:00:42.350000
2216,639,2018-09-01 06:01:12.8740,2018-09-01 06:11:52.6590,492.0,W 33 St & 7 Ave,40.750200,-73.990931,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,25487,Subscriber,1975,1,06:01:12.874000,06:01:12.874000
2217,446,2018-09-01 06:01:14.0230,2018-09-01 06:08:40.9660,3158.0,W 63 St & Broadway,40.771639,-73.982614,492.0,W 33 St & 7 Ave,40.750200,-73.990931,18411,Subscriber,1980,1,06:01:14.023000,06:01:14.023000
2218,301,2018-09-01 06:02:20.2730,2018-09-01 06:07:21.4800,3360.0,Amsterdam Ave & W 79 St,40.782939,-73.978652,422.0,W 59 St & 10 Ave,40.770513,-73.988038,27369,Subscriber,1971,1,06:02:20.273000,06:02:20.273000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1819404,352,2018-09-30 09:59:56.3810,2018-09-30 10:05:49.2370,3567.0,11 St & 35 Ave,40.762744,-73.939114,3130.0,21 St & Queens Plaza North,40.753260,-73.943358,33631,Subscriber,1989,2,09:59:56.381000,09:59:56.381000
1819405,174,2018-09-30 09:59:57.5580,2018-09-30 10:02:51.9600,391.0,Clark St & Henry St,40.697601,-73.993446,157.0,Henry St & Atlantic Ave,40.690893,-73.996123,16506,Subscriber,1982,1,09:59:57.558000,09:59:57.558000
1819406,368,2018-09-30 09:59:59.0610,2018-09-30 10:06:07.5900,518.0,E 39 St & 2 Ave,40.747804,-73.973442,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,21249,Subscriber,1982,2,09:59:59.061000,09:59:59.061000
1819417,549,2018-09-30 09:59:54.8530,2018-09-30 10:09:04.0240,502.0,Henry St & Grand St,40.714215,-73.981346,432.0,E 7 St & Avenue A,40.726218,-73.983799,33817,Subscriber,1967,1,09:59:54.853000,09:59:54.853000
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1,08:10:03.179000,08:10:03.179000